body{
  font-family: 'Open Sans', sans-serif;
}
.btn-primary{
  background-color: #267ec8;
}
.btn-success{
  background-color: #4b964c;
  border-color: #4b964c;
}
.btn-danger{
  background-color: #7d1616;
  border-color: #7d1616;
}
.list-group-item{
  border: 1px solid #b7c3b9;
}
h1,h2{
  font-family: 'Ubuntu', sans-serif;
}
.list-group-item-heading{
  font-weight: 600;
}
.list-group-item-text{
  font-size: 15px;
}
.fw { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-pack: justify; 
  -ms-flex-pack: justify; 
  justify-content: space-between; 
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap; 
}
.page{
  height: 100vh;
  padding-top: 50px;
  background-color: #ddd;
  position: relative;
}
.page--full{
  padding-top: 0;
}


/* header */
.header{
  height: 50px;
  margin-bottom: 0;
  background-color: #333;
  transition: .2s;
  border-bottom: 2px solid #fff;
}
.header_acc-link{
  text-decoration: underline;
  color: #fefefe;
}
.header_acc-link:hover{
  color: #f0f0f0;
}

.navbar-brand.header__logo{
  font-size: 23px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}
.header__greeting{
  margin: 0;
  margin-right: 20px;
  font-size: 16px;
  font-weight: normal;
}
.header__logged{
  -ms-align-items: center;
  align-items: center;
  height: 50px;
  color: #eee;
}
.login__form input{
  height: 30px;
  border-radius: 2px;
}
.login__form .btn{
  padding: 0 15px;
  height: 30px;
  line-height: 29px;
  border-radius: 2px;
}

/* header */

/* home */
.home{
  position: relative;
}
.btn{
  font-family: 'Ubuntu', sans-serif;
  line-height: 1;
  border-radius: 2px;
}
.home__sign-wrap{
  position: absolute;
  bottom: 16px;
  right: 22px;
  color: #fff;
  z-index: 1;
  text-align: right;
}
.home__baner{
  width: 100%;
  height: 100%;
}
.home__slider{
  width: 100%;
  height: 100%;
}
.home-slider__slide{
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.home-slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #fff;
}
.home__title-wrap{
  padding: 14px 90px;
  border: 5px solid #fff;
  color: #fff;
  text-align: center;
  background-color: rgba(51,51,51,.9);
  font-family: 'Ubuntu', sans-serif;
}
.home__title{
  font-size: 46px;
}
.home-slider__slide:first-child{
  background-image: url(img/home__slide--1.jpg);
}
.home-slider__slide:nth-child(2){
  background-image: url(img/home__slide--2.jpg);
}
.home-slider__slide:last-child{
  background-image: url(img/home__slide--3.jpg);
}
/* home */

/* register */
.register{
  background-image: url(img/register-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.register__wrap{
  width: 100%;
  height: 100%;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.register__content{
  padding: 30px 70px;
  border: 2px solid #fff;
  background-color: rgba(51,51,51,.9);
  color: #fff;
}
.register__form{
  min-width: 240px;
  font-size: 16px;
}
.register__form p{
  margin-bottom: 18px;
}
.register__title{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 46px;
  font-family: ;
}


/* register */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #666;
    border-right: 1px solid #eee;
}
.nav-sidebar li{
  background-color: #777;
  margin-bottom: 10px;
}

.nav-sidebar li a:hover,
.nav-sidebar li a:active{
  background-color: #888;
}
.nav-sidebar li a{
  color: #fff;
  font-family: 'Ubuntu';
  transition: .2s;
}

/* register */

/* events */

.events__header{
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
.events__add-btn-wrap{
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.event-item__buttons{
  -ms-align-items: center;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}
.events-item__edit-btn{
  margin-right: 20px;
}
.event-time{
  text-align: center;
  font-size: 15px;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -36px;
  padding: 3px 10px;
  color: #fff;
  background-color: #6f5252;
}
.event-time--special{
  position: static;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: #ddd;
  border: 1px solid #b7c3b9;
  border-radius: 3px;
  text-shadow: 0px 1px 3px #09254F;
}
.event-time__date{
  margin-right: 10px;
}
.events__item{
  position: relative;
  margin-bottom: 22px;
  padding-top: 30px;
  transition: .2s;
}
.events__item:last-child{
  margin-bottom: 0;
}
.events__item-type{
  position: absolute;
  top: -6px;
  left: 4px;
  color: #fff;
  font-size: 15px;
  padding: 3px 10px;
}
.events-filter{
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}


.events__item[data-type='1'] .events__item-type{
  background-color: rgb(55, 179, 179);
}
.events__item[data-type='2'] .events__item-type{
  background-color: rgb(107, 83, 41);
}
.events__item[data-type='3'] .events__item-type{
  background-color: #257726;
}
.events__item[data-type='4'] .events__item-type{
  background-color: rgb(226, 99, 13);
}

.event-time__wrap{
  position: relative;
}

/* events */

/*filters*/
.events-filter{
  justify-content: flex-start;
}
.filter-item{
  width: 300px;
  margin-right: 20px;
}
.event_type--hidden{
  display: none;
}
.event_date--hidden{
  display: none;
}

.contacts-filter{
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}
.contacts-item--hidden{
  display: none;
}
/*filters*/


/* events-edit */
.events-edit__header{
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
.events-edit__back-btn-wrap{
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

/* events-edit */


/* contacts */

.contacts__header{
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
.contacts__add-btn-wrap{
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.contacts-item__buttons{
  -ms-align-items: center;
  align-items: center;
}
.contacts__list{
  justify-content: flex-start;

}
.contacts-list__item{
  width: 30%;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  padding-top: 26px;
}
.contacts-list__item:nth-child(3n){
  margin-right: 0;
}
.contacts-item__name{
  font-size: 22px;
  margin-bottom: 11px;
}
.contacts-item__num{
  margin-bottom: 18px;
  font-size: 16px;
}
.contacts-item__company{
  position: absolute;
  top: -6px;
  right: 8px;
  color: #fff;
  padding: 3px 10px;
  background-color: #3b6746;
  font-size: 15px;
}

/* contacts */

/* one-contact */

.one-contact__header{
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
.one-contact__back-btn-wrap{
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.one-contact__edit-btn{
  margin-right: 20px;
}

.contact__info-item{
  font-size: 16px;
  border-bottom: 1px solid #cac9c9;
  padding: 5px;
}
/* one-contact */


/* companies */

.companies-item__buttons{
  -ms-align-items: center;
  align-items: center;
}
/* companies */


/* one-company */
.one-company__header{
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
.one-company__back-btn-wrap{
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.one-company__edit-btn{
  margin-right: 20px;
}
.company__info-item{
  font-size: 16px;
  border-bottom: 1px solid #cac9c9;
  padding: 5px;
}
.one-company__members{
  font-size: 16px;
}

/* one-company */

/* main */
.main__subheader{
  margin-bottom: 20px;
}


/* main */
